@model ProjektPracownia.Models.CarModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CarModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarModelID" />
            <div class="form-group">
                <label asp-for="model" class="control-label"></label>
                <input asp-for="model" class="form-control" />
                <span asp-validation-for="model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarMakeID" class="control-label"></label>
                <select asp-for="CarMakeID" class="form-control" asp-items="ViewBag.CarMakeID"></select>
                <span asp-validation-for="CarMakeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="CarEdit" asp-action="Index">Back to List</a>
</div>

