@model ProjektPracownia.Models.CarVersion

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>CarVersion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="version" class="control-label">New version name</label>
                <input asp-for="version" class="form-control" />
                <span asp-validation-for="version" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarModelID" class="control-label">Model</label>
                <select asp-for="CarModelID" class ="form-control" asp-items="ViewBag.CarModelID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="CarEdit" asp-action="Index">Back to List</a>
</div>

